@charset "UTF-8";

#menu1 {
	background: #98E0AD;
}

#menu1 ul {
	width: 700px;
	margin: 0 auto;
	overflow: hidden;
}

#menu1 ul li {
	float: left;
	width: 20%;
	height: 50%;
	line-height: 50px;
	text-align: center;
	background: #98E0AD;
}

#menu1 ul li a {
	display: block;
}

#menu1 ul li a:hover {
	background: #138535;
	color: #fff;
}